body{
	background: url(./baby.jpg);
	background-size: cover;
	font-family: Arial;
}
h1{
	text-align: center;
}
.position{
	text-align: center;
	font-size: 20px;
	margin-top:5px;
	box-sizing: border-box;
	padding: 12px 5px;
	position: relative;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}
.position a{
	color: #2691d9;
	text-decoration: none;
}
.position a:hover{
	text-decoration: underline;
}
input[type=text]{
	width: 100%;
	box-sizing: border-box;
	padding: 12px 5px;
	background: rgba(0,0,0,0.10);
	outline: none;
	border: none;
	border-bottom: 1px dotted #fff;
	color: #fff;
	border-radius: 5px;
	margin: 5px;
	font-weight: bold;
}
.button{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 0;
	margin-top: 30px;
	outline: none;
	border:none;
	background: #60adde;
	opacity: 0.7;
	border-radius: 20px;
	font-size: 20px;
	color: #fff;
}
input[type=password]{
	width: 100%;
	box-sizing: border-box;
	padding: 12px 5px;
	background: rgba(0,0,0,0.10);
	outline: none;
	border: none;
	border-bottom: 1px dotted #fff;
	color: #fff;
	border-radius: 5px;
	margin: 5px;
	font-weight: bold;
	}
	.button:hover{
	background: #003366;
	opacity: 0.7;
	cursor: pointer;
}

.loginbox{
	max-width: 350px;
	border-radius: 20px;
	margin: auto;
	box-sizing: border-box;
	padding: 40px;
	color: #fff;
	margin-top: 50px;
}
.loginbox{
	width: 500px;
	padding: 80px 30px;
	position: absolute;
	top: 40%;
	left:50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,0.8);
	text-align: center;
	border-radius: 10px;

}